<h2>Est. 2021</h2>
<p>Hike Happy is being created with something very specific in mind – to help others enjoy exploring New Zealand's outdoors.</p>

<h2>Services</h2>
<ul>
  <li>Expedition planning and logistics</li>
  <li>Personal coaching and mentoring</li>
  <li>Guiding and outdoor leadership</li>
</ul>

<p><i>Not currently available for contracts. Please register interest below.</i></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mailto:mail@gerhardla.nz?subject=Hike%20Happy%20Interest&body=Hi%20Gerhard%2C">Contact</a>
  </li>
</ul>
